.container{margin-left: 10px;
    margin-right: 10px;
width: 900px;
height: 100px;
text-align: center;

   

text-align: center;

}
h1,h5{

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
span{color: blue;}
.report
{
height: 100px;

width: 500px;
}
h5{font-size: 50px;}
.b{
    margin: 10px;
    border: none;
    background-color: ghostwhite;
    color: black;
    padding:10px;
    border: 1px black solid;



}
.b:hover{background-color: darkgray;}