.container{margin-left: 0px    
}

a{
    
// color: hotpink;
cursor: pointer;
margin:500 px;
margin-right: 20px;
color: black;
}

.k
{
width: 700px;
cursor: pointer;

}
a:hover{border-bottom: 1px blue solid;

color: blue;

}